In [265]:
from bs4 import BeautifulSoup
import requests

In [267]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

In [268]:
page = requests.get(url)

In [270]:
soup = BeautifulSoup(page.text , 'html')

In [274]:
table =soup.find_all( 'table')[0]

In [339]:
all_titles = table.find_all('th')
#print(all_titles)

In [340]:
table_titles = [title.text.strip() for title in all_titles]
print(table_titles)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [343]:
import pandas as pd

In [345]:
df = pd.DataFrame(columns = table_titles)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [325]:
all_rows = table.find_all('tr')
#print(all_rows)

In [362]:
for row in all_rows[1:]:
    row_data = row.find_all('td')
    table_rows = [data.text.strip() for data in row_data]

    length = len(df)
    df.loc[length] = table_rows

In [364]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"648,125",6.0%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"574,785",11.9%,"1,525,000","Seattle, Washington"
2,3,Apple,Electronics industry,"383,482",-2.8%,"161,000","Cupertino, California"
3,4,UnitedHealth Group,Healthcare,"371,622",14.6%,"440,000","Minnetonka, Minnesota"
4,5,Berkshire Hathaway,Conglomerate,"364,482",20.7%,"396,500","Omaha, Nebraska"
...,...,...,...,...,...,...,...
95,96,TIAA,Financials,"45,735",11.8%,"16,023","New York City, New York"
96,97,CHS,Agriculture cooperative,"45,590",-4.6%,"10,609","Inver Grove Heights, Minnesota"
97,98,Bristol-Myers Squibb,Pharmaceutical industry,"45,006",-2.5%,"34,100","New York City, New York"
98,99,Dow Chemical Company,Chemical industry,"44,622",-21.6%,"35,900","Midland, Michigan"
99,100,Best Buy,Retail,"43,452",-6.1%,"85,000","Richfield, Minnesota"

In [370]:
df.to_csv(r'D:\Python\pandas\Companies.csv', index = False)